* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background: transparent;
}

body {
	background-image: url("../images/background_v1.jpg");
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

h1 {
	padding: 15vh 0 0 0;
	margin: 0;
	font-family: Microsoft YaHei-bold, sans-serif;
	font-weight: 700;
	font-size: 250%;
	color: rgb(22, 31, 82);
	text-align: center;
}

.bottom-container {
	position: absolute;
	width: 100%;
	height: 50%;
	margin-top: 5%;
	bottom: 0px;
}

input {
	width: 80vw;
	height: 5vh;
	margin: 5vh 10vw 0 10vw;
	color: white;
	border-bottom: 1px solid white;
}

input::placeholder {
	color: white;	
}

.remind-btn {
	margin: 2vh 0 0 0;
	color: white;
	float: right;
}

.sign-in-btn {
	position: absolute;
	height: 6vh;
	width: 70vw;
	margin: 7vh 15vw 0 15vw;
	border-radius: 3vh;
	background-color: white;
}

.sign-up-btn {
	position: absolute;
	width: 100vw;
	margin: 5vh 0 0 0;
	bottom: 5vh;
	text-align: center;
	color: white;
}